/* -------------universial items-------------*/

body{/*this allows me to alter the HTML body tag (in this case its purpose is to make the background grey)*/
    background:#3e3e3f;
}

/*this is the header, its purpose is to store the logo and webpage banner*/
#header{ 
    width:101%;
    height:100px;
    background:#000000;
    margin-left:-8px;
    margin-top:-8px;    
}

/*this is the banner, its purpose is to provide evey webpage with a similar banner that is also responsive*/
#banner{ 
    width:100%;
    height:78%;
    text-align:center;
    float:left;
    font-family: 'Bebas Neue', cursive;
    padding-top:10px;
    font-size: 4em;

    color:white;
    background:#000000;
}

/*this provides the navigation bar with a background and makes its width responsive*/
navigation{ 
    
    float:left;
    width:100%;
    background:#000000;
    border-top:1px solid white;
    margin-bottom: 20px;
}

/*this alters the ul HTML tag that is inside the navigation tag*/
navigation ul{ 
    margin: 0;
    padding-right: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

/*this alters the li HTML tag that is inside the navigation tag*/
navigation ul li{
    list-style-type:none;
    display:inline;  
}

/*this alters the a HTML tag that is inside the navigation tag*/
navigation ul li a{
    display:block;
    padding:5px 10px;
    font-family: 'Bebas Neue', cursive;
    text-decoration:none;
    color:white;
    align-items:center;
}

/*this alters the a HTML tag that is inside the navigation tag once the mouse is hovering above it*/
navigation ul li a:hover{
    background:white;
    color:black;
    text-decoration:underline;
}
 
/*this is a container (this will hold all the main sections of the website together)*/
#container{ 
    background:white;
    margin:auto;
    margin-bottom:-21px;
    margin-top:-8px;
    max-width:920px;
    min-width:200px;
    height:1125px;
}

/*this is the footer its purpose is to provide a small space that provides important links*/
footer{ 
    width:101%;
    height:100px;
    background:#000000;
    margin-left:-8px;
    margin-bottom:-8px; 
}





/* -------------Homepage items-------------*/

#welcome{
    width:90%;
    height:250px;
    /*border:1px solid black;*/
    margin-left:5%;
    margin-right:5%;
    margin-top:25px;
    float:left;
}

#Line{
    width:90%;
    height:25px;
    margin-left:5%;
    margin-right:5%;
    margin-top:25px;
    float:left;
    background:black;
}

#AIbox{
    width:360px;
    margin-left:285px;
    margin-top:25px;
    margin-bottom: -25px;
    float:left;
    background: black;
    color: white;
    text-align: center;
    padding-top:20px;
    padding-bottom:15px;
    padding-left:5px;
    font-size: 25px;
    font-family:'Press Start 2P';
}

.img_AIHome
{
    width:200px;
    height:200px;
    margin-left:180px;
    margin-right:-50;
    margin-top:75px;
    float:left;
    background:black;
}



.AIHomeDesc
{
    width:250px;
    height:200px;
    margin-left:145px;
    margin-right:-20px;
    margin-top:35px;
    float:left;
    color:black;
    font-size: 16px;
    padding: 5px;
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;

    /* border:1px solid black; */
}

#DescTitle{
    margin-bottom: 25px; 
    width:300px; 
     margin-left:34%; 
     margin-top: 25px;
     float:left;
     background: black;
     color: white;
     text-align: center;
     padding-top:20px;
     padding-bottom:15px;
     font-size: 25px;
     font-family:'Press Start 2P';
}

#desc{
    width:820px;
    height:200px;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 15px;
    float:left;
    color:black;
    font-size: 20px;
    padding: 5px;
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    /* font-family:'Press Start 2P'; */
}

.AIT{
    width:225px;
    height:210px;
    margin-left: 75px;
    margin-top:100px;
    float:left;
    background: black;
}

.AIT:hover
{
    background: rgb(37, 37, 37);
}



#play
{
    margin-bottom: 25px; 
    width:550px;
     /* height:125;  */
     margin-left:187px; 
     margin-top: 50px;

     /*border:1px solid black;*/
     margin-right:5%;
     margin-top:50px;
     float:left;

     background: black;
     color: white;

     text-align: center;
     padding-top:50px;
     padding-bottom:50px;
     font-size: 25px;
}

#play:hover
{
    background: rgb(36, 35, 35);
}

.box
{
    width:225px;
    height:205px;
    margin-left:180px;
    margin-right:-50;
    margin-top:75px;
    float:left;
    background: black;
    padding:5px;
}

.box:hover
{
    background: rgb(36, 35, 35);
    cursor: hand;
}


.box2
{
    width:225px;
    height:205px;
    margin-left: 75px;
    margin-top:100px;
    float:left;
    background: rgb(36, 35, 35);
}

#DemoBox
{
    margin-bottom: 25px; 
    width:855px;

     margin-left:25px; 
     margin-top: 50px;

     margin-right:5%;
     margin-top:50px;
     float:left;

     background: black;
     color: white;

     text-align: center;
     padding-top:50px;
     padding-bottom:50px;
     font-size: 25px;

     font-family: 'Press Start 2P'; 
     font-size: large;
}

#DemoBox:hover
{
    background: rgb(36, 35, 35);
}



/* -------------AI Page items-------------*/

.img_AI_Title{
    background: black;
    width:75%;
    height:300px;
    margin-left:12.5%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    float:left;
}

#subHeading
{
    width:210px;
    float:left;
    background: black;
    color: white;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:5px;
    font-size: 25px;
    font-family:'Press Start 2P';

    margin-left:25px; 
    margin-top:75px; 
    font-size: 14px;
}

#DemoLink
{
    width:auto;
    float:left;
    background: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family:'Press Start 2P';

    margin-left:300px; 
    margin-top:35px; 
    margin-right:200px;
    font-size: 12px;
}


#Steps
{
    /* width:210px;
    height: 20px; */
    float:left;
    color: black;
    text-align: center;
    /* padding-left:5px; */
    font-size: 25px;
    font-family:'Press Start 2P';
    /* border: 1px solid black; */
    margin-left:25px; 
    margin-top:75px; 
    font-size: 14px;
}

#imgBox
{
    /* border: 1px solid black;
    width:300px;
    height:200px; */
    margin:auto;
}

#desc2
{
    width: 855px;
    height:auto;
    margin-bottom: 15px;
    float:left;
    color:black;
    font-size: 17px;
    /* padding: 5px; */
    padding-top: 10px;
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black;  */
    margin-left: 25px; 
}



/* .img_AI_Title:hover
{
    border-bottom:3px solid red;
    border-top:3px solid red;
    cursor: hand;
} */


/* -------------AI Read More Page items-------------*/
.img_AI{
    background: black;
    width:450px;
    height:420px;
    margin-left:25%;
    margin-top:2.5%;
    margin-bottom:2.5%;
    float:left;
}

.desc_AI{
    width:810px;
    height:400px;
    float:left;
    color:black;
    font-size: 20px;
    padding: 5px;
    text-align:justify;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid black;  */
    margin-left:50px;
    margin-top:30px;
}



#Spacing{
    width:100%;
    height:200px;
    margin-bottom: 200px;
    border:2px solid red;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    font-display: left;
    padding: 20px;
    overflow: auto;
}


/* Overlay Code (begin) */

/* this webpage helped provide the CSS code for the overlay https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal */


/* The Modal (background) */
.Overlay {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0,0.7); /* Fallback color */
}
  
  /* Modal Content */
  .OverlayContent {
    background-color: #fefefe;
    margin: auto;
    margin-top: -75px;
    padding: 20px;
    width: 80%;
    overflow:scroll; /* Enable scroll if needed */
}
  
  /* The Close Button */
  .close,.close2,.close3,.close4 {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
  .close:hover,.close:focus,
  .close2:hover,.close2:focus,
  .close3:hover,.close3:focus,
  .close4:hover,.close4:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: hand;
}

#SeekerBtn
{
    width:225px;
    height:205px;
}


/* Overlay Code (End)  */

